<header>
    <div class="title">
        <a href="/" class="root">
            <img src="img/path2996.svg" alt="path2996" class="path2996">
            <span class="Teilltail">Telltail</span>Games
        </a>
    </div>
</header>
<div class="line"></div>