.not-found-advent
{
    color: #ff0000;
}

.list-adv
{
    padding: 0;
}

.wrap-adventure
{
    display: inline-block;
    margin: 0 calc(50% - 467px);
}

.adv
{
    display: flex;
    width: 934px;
    margin-top: 51px;
}

.container
{   
    margin-left: 36px;
    width: 700px;
}

.description
{
    margin: 0 0;
    font-family: Gabriela, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.link-adv
{
    font-family: Gabriela, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.link-tags
{
    color: #000000;
    text-decoration: none;
    margin-left: -3px; 
}

.adv-img
{
    width: 200px;
    height: 152px;
}

.bt-hash-tegs
{
    padding: 0 18px 0 13px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
    color: #FFFFFF;
    background: #B3B3B3;
    border-radius: 4px;
    border: none;
}

.panel-tags
{
    margin: 0;
    width: 249px;
}

.title-hash
{
    display: none;
}